@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
/* va a ser un grid 1x1 con dos cajitas una encima de otra.  */
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}
/* la tarjeta de encima al principio esta transladada fuera de la vista */

.tarjetas {
  width: 90%;
  margin: auto;
  padding: 50px;
  max-width: 300px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
  overflow: hidden;
}
/* las does cajas son el mismo tamaño */
/* uso grid para poner una encima de la otra */
.box {
  width: 300px;
  height: 300px;
  grid-row: 1;
  grid-column: 1;
}
/* la tarjeta de atras no hace nada le doy color para distinguirla */
/* por si acaso le doy un index de 0 para que quede debajo */
.background {
  z-index: 0;
  background-color: yellow;
}
/* al principo el que se mueve esta escondida
porque esta en un overflow  */
/* esta por encima de la otra z index mas alto */
.moving {
  z-index: 2;
  background: grey;
  transform: translateY(300px);
  animation-duration: 5s;
  animation-iteration-count: 1;
}
/* el hover tiene que pasar sobre ya sea el contenedor 
o por encima de la tarjeta que va a quedar debajo. 
porque la tarjeta que se mueve no esta */
.background:hover ~ .moving {
  transform: scale(1.1);
  animation-name: sube;
  animation-timing-function: ease;
}
/* igual esta todo aqui. el bounce on hoover. https://blog.hubspot.com/website/css-hover-animation */
@keyframes sube {
  0% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0px);
  }
}
