@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
/* va a ser un grid 1x1 con dos cajitas una encima de otra.  */
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-content: center;
}
/* la tarjeta de encima al principio esta transladada fuera de la vista */

.tarjetas {
  width: 90%;
  margin: auto;
  padding: 50px;
  max-width: 300px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2%;
}
/* las does cajas son el mismo tamaño */
.box {
  width: 300px;
  height: 300px;
  background-color: yellow;
  grid-row: 1;
  grid-column: 1;
}
/* al principo el que se mueve esta escondida
porque esta en un overflow  */
.moving {
  background: grey;
  animation-duration: 2s;
  overflow: hidden;
  transform: translateY(300px);
}
/* el hover tiene que pasar sobre el dive que background */
.moving:hover {
  animation-name: cubre;
}
/* igual esta todo aqui. el bounce on hoover. https://blog.hubspot.com/website/css-hover-animation */
@keyframes cubre {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}
